*.*~
target
src/test/resources/tmp
src/main/java/META-INF/MANIFEST.MF
.DS_Store
/libjhdf5.so
/libjhdf5.jnilib
/src/test/resources/examples/temp/*.h5
/nb-configuration.xml
runclass.sh
/.classpath
/.project
/.settings/
/private
